{% extends 'basetruck.html.twig' %}

{% block title %}My Truck{% endblock %}

{% block body %}
    <div class="container">
    <h2>Bonjour {{ app.user.username }}</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom d'enseigne</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Siret</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ truck.getNameTruck }}</td>
            <td>{{ truck.getLastName }}</td>
            <td>{{ truck.getFirstName }}</td>
            <td>{{ truck.getPhoneNumber }}</td>
            <td>{{ truck.siret }}</td>
            <td>
              <a class="btn btn-success" href="{{ path('update',{'id': app.user.truck.id }) }}">Mettre à jour</a>
            </td>
          </tr>
        </tbody>
    </table>
</div>
{% endblock %}